streamlit==1.32.0
requests==2.31.0
SpeechRecognition==3.10.0
geopy==2.3.0
gTTS==2.4.0
streamlit-js-eval==0.1.5
pyaudio==0.2.11
wave==0.0.2
tensorflow==2.13.0
fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
qdrant-client==1.9.0
langchain-groq==0.1.2
numpy==1.26.4

python-multipart==0.0.6




